*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 5px;
    background-color: rgb(29, 150, 29);
    text-align: center;
    font-size: 4ex;
    color: white;
}

.seccion1{
    background-color: rgba(101, 205, 101, 0.614);
    padding: 5px;
}

footer{
    background-color: rgba(32, 102, 33, 0.781);
    padding: 5px;
    font-size: 2ex;
    color: white;
}